body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: white;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    margin: 2em;
}

h2 {
    color: #333;
}
